#wrapper {
	overflow: hidden;
}

.container {
	position: relative;
}

.header {
	background-image: url(../img/header.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
}

.overlay {
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
}

.header .container {
	top: 30%;
	padding: 23%;
	position: relative;
}

.about {
	position: relative;
	background-image: url(../img/about.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
}

.img span {
	color: aqua;
	position: absolute;
	font-size: 22px;
	bottom: 20px;
	display: inherit;
}

.about .img {
	border-radius: 50%;
	width: 222px;
	height: 222px;
	overflow: hidden;
}

.aboutMe {
	padding: 2em;
	border-left: 4px solid aquamarine;
}

.aboutMe {
	color: #888;
	line-height: 2em;
}

.about h2 {
	color: #f97300;
}

.about h3 {
	color: #000;
}

.about .container {
	padding: 15% 2em;
	position: relative;
}


/* portfolio */
.portfolio {
	position: relative;
	background-image: url(../img/portfolio.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
	/* height: 900px; */
}

.portfolio h3 {
	color: #f97300;
	padding-bottom: 2em;
}

.portfolio img {
	width: 100%;
}

.portfolio .container {
	padding: 11% 2em;
}

.portfolio .row>div {
	padding: 2em;
}

/* blog */

.blog {
	position: relative;
	background-image: url(../img/blog.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
}

.blog .container {
	padding: 11% 2em;

}

.blog h3 {
	color: #f97300;
	padding-bottom: 2em;
}

.blog .card {
	box-shadow: 0 0 20px;
	cursor: pointer;
	padding: 0 1em;
	margin: 2em;
}

.cardBody {
	padding: 1em;
}

.blog .card:hover {
	background: #f97300;

}

.blog .cardTitle {
	font-family: 'Montserrat', sans-serif;
}

.blog .cardText {
	font-family: 'Source Sans Pro', sans-serif;
}

/* contacts */
.contactForm {
	position: relative;
	background-image: url(../img/contacts.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
}

.contactForm h2 {
	padding: 2em 1px;
	color: #f97300;
}

.contactForm .right {
	max-width: 600px;
	margin: 0 1em;
}

.contactForm .btn {
	background: #f97300
}

.contactForm .container {
	padding: 17% 0;
}